<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAppMI2A"
        tools:targetApi="31">
        <activity
            android:name=".DetailWisataActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleWisataHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".WisataSplashActivity"
            android:exported="false" />
        <activity
            android:name=".DetailMovieActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleMovieActivity"
            android:exported="false" />
        <activity
            android:name=".DetailBuah"
            android:exported="false" />
        <activity
            android:name=".RecycleWisataActivity"
            android:exported="false" />
        <activity
            android:name=".WisataActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GaleryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclePnpActivity"
            android:exported="false" />
        <activity
            android:name=".galeryDetails.Pnp1DetailActivity"
            android:exported="false" />
        <activity
            android:name=".GaleryPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".TekomActivity"
            android:exported="false" />
        <activity
            android:name=".MiActivity"
            android:exported="false" />
        <activity
            android:name=".PnpActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleBuahActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleViewActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomePageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".lat31agus"
            android:exported="false" />
        <activity
            android:name=".KalkulatorSederhanaActivity"
            android:exported="false" />
        <activity
            android:name=".PageLatihan4Activity"
            android:exported="false" />
        <activity
            android:name=".ContrainsLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".PageTableActivity"
            android:exported="false" />
        <activity
            android:name=".PageRelativeActivity"
            android:exported="false" />
        <activity
            android:name=".PageAdminActivity"
            android:exported="false" />
        <activity
            android:name=".PageLatihan2Activity"
            android:exported="false" />
        <activity
            android:name=".PageKeduaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>